/* Universal styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Define Constants */
:root {
  --dark-green: #3f6247;
  --light-green: #7b9a82;
  --white: #ffffff;
  --off-white: #d9dcd6
}

body {
  background-color: #d9dcd6;
}

/* Styling for the header*/
header {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--dark-green);
  color: var(--white);
  margin-bottom: 20px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--white);
  text-decoration: none;
}

.sections {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

/* Common subsection formatting */
.subsection {
  margin-bottom: 20px;
  background-color: var(--light-green);
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--white);
  border-radius: 10px;
}

.subsection h2 {
  font-size: 36px;
  background-color:var(--off-white);
  color: var(--dark-green);
  display: inline-block;
  padding: 0 20px 0 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

/* About section formating*/
#about {
  height: 350px;
}

#about img {
  width: 200px;
  border-radius: 100px;
  float: left;
  margin-right: 25px;
  margin-bottom: 50px;
}

/* Work Section & Card styling */
#work {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card {
  border-style: solid;
  background-color: var(--white);
  border-width: 1px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card label {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
  text-align: center;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #3f6247;
  color: var(--white);
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.card img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 0 50px 50px;
}

/* Contact section sytling */
#contact ul {
  list-style: none;
}

/* Paragraph Styling*/
p {
  font-size: 16px;
}

/* Styling for the footer*/
footer {
  clear: both;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  position:fixed;
  bottom:25px;
  left:0;
  right:0;
  height:30px;
}

footer h3 {
  font-size: 20px;
}

/* Reformat Page for smaller screen width */
@media screen and (max-width: 768px) {
  header {
      display: block;
  }
  header nav {
      float: none;
  }
  #about {
      display: block;
      align-items: center;
      height: fit-content;
  }
  #about img {
      display: block;
      float: none;
  }
  #about h2 {
      float: left
  }
}
